body {
    background-color: #EAF6F6;
  }
  hr{
   
    border-color: rgb(104, 114, 114);
    border-style:dotted none none;
    height: 0px;
    width: 10%;
    border-width:3px;
  }
  h1, h3{
    color: #66BFBF;
  }